@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'S-CoreDream-3Light' !important;
}

/* ---------- main page css ---------- */


@media ( max-width :768px) {
	
	.sub-title {
		font-weight: bold;
	}
	
	.mainlogo {
		padding-top: 50px;
		width: 80%;
		margin: auto;
		display: block;
	}
	.sub-title {
		text-align: center;
	}
	.main_title {
		text-align: center;
		font-size: 20px;
	}
	.join_btn {
		width: 70%;
		height:50px;
		font-size: 18px;
		display: block;
		margin: auto;
		background-color: #587353;
		color: #f9f9ed;
		font-weight: bold;
	}
}