<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.forus.mapper.CommunityMapper">


	<select id="postList" resultType="com.forus.domain.CommunityVO">
		select c.article_seq, c.article_title, c.article_content, c.article_date,c.article_file, u.user_nick, g.c_category_name, v.apt_name
		from community_tb c , user_tb u, c_category_tb g, (
			select v_machine_seq, apt_name 
			from v_machien_tb 
			where v_machine_addr = #{user_addr}) as v
		where c.user_id = u.user_id and c.c_category_seq = g.c_category_seq and c.v_machine_seq = v.v_machine_seq 
	</select>

	<!-- 게시글 등록하기 -->
	<insert id="articleInsert" parameterType="com.forus.domain.CommunityVO">
		insert into community_tb(article_content, article_file, c_category_seq, user_id, v_machine_seq) values(
		#{article_content},#{article_file}, #{c_category_seq}, #{user_id}, #{v_machine_seq})
	</insert>
	
	<!-- 게시글 등록하기 위해 v_mahcine_seq 번호 알아오기 -->
	<select id="machine_seqSelect" parameterType="String" resultType="int">
		select v_machine_seq from v_machine_tb where v_machine_addr=#{user_addr}
	</select>
	


</mapper> 