<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.forus.mapper.GoodsMapper">
	
	<select id="goodsList" parameterType="String" resultType="com.forus.domain.goodsListVO">
		select * from goods_tb where 
		loc_seq in (select loc_seq from g_location_tb 
		where v_machine_seq=
		(select v_machine_seq from v_machine_tb 
		where v_machine_addr = #{user_addr} )) and g_status = '판매'
	</select>


	<select id="selectAptName" resultType="String">
		select apt_name from v_machine_tb where v_machine_addr =#{user_add}	
	</select>
	
	
	<select id="goodsInfo" parameterType="int" resultType="com.forus.domain.goodsVO">
		select g_seq, gc_seq, g_name, g_info, g_img, g_price,seller_id from goods_tb where g_seq = #{g_seq}
	</select>

	<insert id="goodsInsert" parameterType="com.forus.domain.goodsVO">
		insert into goods_tb(gc_seq,loc_seq,g_name,g_info,g_price, seller_id,g_img) values(
   			 (select gc_seq from g_category_tb where gc_name =#{gc_name}),
    		(select g.loc_seq from goods_tb g where g_status='완료' and loc_seq in
       		 (select loc_seq from g_location_tb 
        		where v_machine_seq = 
        	(select v_machine_seq from v_machine_tb 
        	where v_machine_addr = #{user_addr}) 
     			) limit 1),
                #{g_name}, #{g_info}, #{g_price}, #{seller_id},#{g_img})
	</insert>

</mapper>