<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.forus.mapper.UserMapper">

	<select id="userInfoList" resultType = "com.forus.domain.UserInfoVO">
		select * from user_tb
	</select>


	<select id="login" parameterType="com.forus.domain.UserInfoVO" resultType="com.forus.domain.UserInfoVO">
		select * from user_tb where user_id=#{user_id}
	</select>
	
	
	<insert id="join" parameterType="com.forus.domain.UserInfoVO">
		insert into user_tb(user_id, user_pw, user_nick, user_email, user_addr) values(#{user_id},#{user_pw},#{user_nick},#{user_email},#{user_addr})
	</insert>
	
	
 	








</mapper>